.App {
  text-align: center;
  background: #fff;
  width: 30em;
  padding: 1em;
  height: 80vh;
  overflow-y: scroll;
  text-transform: uppercase;
  box-shadow: 0 10em 15em 0 #ccc;
  border: 0.01em solid #eee;
  position: relative;
}
.App h5 {
  font-size: 1.3em;
}
.App h5,
small,
p {
  letter-spacing: 0.06em;
}
.App input {
  margin-bottom: 1em;
  padding: 0.5em;
  text-align: center;
  width: 50%;
  font-size: 0.8em;
  color: #999;
}
.App input placeholder {
  color: #999;
}
.App input:focus {
  outline: none;
  border: 0.1em solid #111;
}
