@import url("https://fonts.googleapis.com/css?family=Rajdhani|Roboto&display=swap");
body {
  margin: 0;
  padding: 5em 0;
  display: flex;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  color: #999;
}
